*.csproj
*.fbx.meta
*.meta
.vsconfig
.vscode/
.vs/
_TerrainAutoUpgrade/
*.sln
*.asset
*.fbx
*.controller
*.mat
*.prefab
*.unity
*.png
*.jpg
*.anim
*.lighting
Library/
TutorialInfo/
Logs/
Debug/
Packages/
*.config
Temp/
UserSettings/
*.fake
*.svg
Samples/
Scenes/
TextMesh Pro/